<div class="row">
  <div>
  <h1>Educación
        <button type="button" class="btn btn-primary" routerLink="/nuevaeducacion" *ngIf="isLogged">
          <i class="bi bi-plus-circle-fill"></i>
      </button>
  </h1>
</div>
    <div class="card m-2" *ngFor="let Educacion of educacion">
      <div class="card-header">
          {{Educacion.nombreE}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{Educacion.tituloE}}</h5>
        <p class="card-text">{{Educacion.descripcionE}}</p>
        <div class="text-end">
          <button *ngIf="isLogged" class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}">
                <i class="bi bi-pencil-fill"></i></button>
            <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Educacion.id)">
                <i class="bi bi-trash-fill"></i></button>
            </div>
      </div>
    </div>

